os_hardening_enable: true

kernel_disable_modules:
  - cramfs
  - squashfs
  - udf
  - dccp
  - sctp
  - rds
  - tipc

sysctl_settings:
  kernel.kptr_restrict: 2
  kernel.dmesg_restrict: 1
  kernel.randomize_va_space: 2

  net.ipv4.ip_forward: 0
  net.ipv4.conf.all.send_redirects: 0
  net.ipv4.conf.default.send_redirects: 0
  net.ipv4.conf.all.accept_redirects: 0
  net.ipv4.conf.default.accept_redirects: 0
  net.ipv4.conf.all.accept_source_route: 0
  net.ipv4.conf.default.accept_source_route: 0
  net.ipv4.conf.all.log_martians: 1
  net.ipv4.conf.default.log_martians: 1
  net.ipv4.tcp_syncookies: 1

  net.ipv6.conf.all.accept_redirects: 0
  net.ipv6.conf.default.accept_redirects: 0
  net.ipv6.conf.all.accept_source_route: 0
  net.ipv6.conf.default.accept_source_route: 0

  fs.protected_hardlinks: 1
  fs.protected_symlinks: 1

filesystem_mounts:
  - { path: /tmp, opts: "defaults,nodev,nosuid,noexec" }
  - { path: /var/tmp, opts: "defaults,nodev,nosuid,noexec" }
  - { path: /dev/shm, opts: "defaults,nodev,nosuid,noexec" }
