-D
-b 8192

-w /etc/passwd -p wa -k identity
-w /etc/group -p wa -k identity
-w /etc/shadow -p wa -k identity
-w /etc/gshadow -p wa -k identity

-w /etc/sudoers -p wa -k sudo
-w /etc/sudoers.d/ -p wa -k sudo

-w /var/log/auth.log -p wa -k auth
-w /var/log/secure -p wa -k auth

-a always,exit -F arch=b64 -S execve -k exec
-a always,exit -F arch=b32 -S execve -k exec

-e 2
